<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/public/styles.css" rel="stylesheet" type="text/css">    
    <title>Marks Added Succesfully</title>
  </head>
  <body>
    <h1> Marks Added Succesfully </h1>
    <label> Students ID: <%= data.SID %></label>
    <br>
    <label> Subject 1:   <%= data.sub1 %></label>
    <br>
    <label> Subject 2:   <%= data.sub2 %></label>
    <br>
    <label> Subject 3:   <%= data.sub3 %></label>
  </body>
</html>
